set_io clk_i 94
set_io rst_i 97

set_io leds[0] 73
set_io leds[1] 74
set_io leds[2] 75
set_io leds[3] 76
set_io leds[4] 78
set_io leds[5] 79
set_io leds[6] 80
set_io leds[7] 81

set_io in_out_245[0] 64
set_io in_out_245[1] 63
set_io in_out_245[2] 62
set_io in_out_245[3] 61
set_io in_out_245[4] 60
set_io in_out_245[5] 56
set_io in_out_245[6] 55
set_io in_out_245[7] 52

set_io rxf_245 49
set_io rx_245 47
set_io txe_245 48
set_io wr_245 45
set_io siwu 44

